/* style.css */
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
 .main{
 background-color: powderblue;
 height: 100vh;
}

.btn-primary,
.btn-secondary{
 margin: 5px;
 padding: 5px;
 border-radius: 2px;
}


.btn-primary {
  background-color: blue;
  color: white;
}

.btn-secondary {
  background-color: gray;
  color: white;
}

#header {
  background-color: red;
  padding: 20px;
}

#footer {
  background-color: green;
  padding: 10px;
} 

